:root{
    --aboutusbackground:#e0fff8;
    --aboutuscontent1:#c0fff0;
    --aboutuscontent2:#a1ffe9;
}
.text-container{
    font-size: 6.5vw;
    font-weight: 100;
}
.text-container h5{
    font-size: 1.5vw;
    font-weight: 400;
}
.image-border{
    width: 20vw;

}
.image-side-container{

}
.rightside {
    width: 45%;
}
.rightside p{
    font-size: 1vw;
}
.leftside p{
    font-size: 1vw;
}
.about-container{
    background: var(--aboutusbackground);
}
.about-grid  >  div:nth-child(odd){
    background-color: #ffa4a4;
   
}
.about-grid  >  div:nth-child(even){
    background-color: #ffea8c
   
}
