
:root{
    --bgprimarycolor:#dfffff;
    --bgcontentprimarycolor:#FDF7E4;
    --bgcontentprimarycolor2:#ffebc6;
    --bgcontentprimary:#ffd992;
}
.primary-sections{
    background-color: var(--bgprimarycolor);
}
.primarysection1{
    background-color: var(--bgcontentprimarycolor);
}
.primarysection2{
    background-color: var(--bgcontentprimarycolor);
}
.primary-card{
    background-color: var(--bgcontentprimarycolor2);
}
.cart-button{
  background-color: white;
}
.cart-button:hover{
  background-color: #fff3de;
}

.productname{
  font-size: 1.3vw;
}
.prodcut-price{
    font-size: 0.9vw;
}
@media (max-width:640px){
  .prodcut-price{
         font-size: 1.7vw;
  }
  .productname{
    font-size: 2.5vw;
  }
  .card-book{
    width: 80%;
  }
}
.card-book{
  width: 33%;
  background-color: aqua;
}
@media (min-width:1042px){
  .card-container{
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-template-rows: auto;
  }
  .tab-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto; 
  }
  ._3d-container{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
  .image-3d{
    display: none;
  }
}

@media ((min-width:731px) and (max-width:1041px)){
  .card-container{
    display: grid;
    gap: 30px;
    
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    height: max-content;
  }
  .tab-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
  }
  ._3d-container{
    display: none;
 }
  .image-3d{
    display: contents;
  }
}
@media ((max-width:730px)){
  .card-container{
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 10px;
    grid-template-rows: auto;
   
  }
   .tab-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
  }
  ._3d-container{
     display: none;
  }
  .image-3d{
    display: contents;
  }
}
.hover\:svg-rotate:hover svg {
  transform: rotate(45deg);
}
.highlights > div:nth-child(odd){
  background-color: white;

}
.highlights > div:nth-child(even){
  background-color: #F7EFED;

}
.highlights > div{
  padding: 10px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
