

.cart-button{
  background-color: white;
}
.cart-button:hover{
  background-color: #fff3de;
}

.productname{
  font-size: 1.3vw;
}
.prodcut-price{
    font-size: 0.9vw;
}
@media (max-width:640px){
  .prodcut-price{
         font-size: 1.7vw;
  }
  .productname{
    font-size: 2.5vw;
  }
  .card-book{
    width: 80%;
  }
}
.card-book{
  width: 33%;
  background-color: aqua;
}
/* this code contain grid layout for card compoent that contains card-container class */
@media (min-width:1042px){
  .card-container{
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    grid-template-rows: auto;
  }
  .tab-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto; 
  }
  ._3d-container{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
  .text-3d{
    visibility: visible;
  }
  .text2-3d{
    display: none;
  }
}

@media ((min-width:731px) and (max-width:1041px)){
  .card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: auto;
    height: max-content;
  }
  .tab-grid{
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto; 
  }
  
  .text-3d{
    visibility: hidden;
  }
  .image2-3d{
    display: contents;
  }
}
@media ((max-width:730px)){
  .card-container{
    display: grid;
    grid-template-columns:1fr 1fr ;
   
    grid-template-rows: auto;
   
  }
  /* the preproimiary section contains three button to make it grid we used class tab grid */
   .tab-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto; 
  }
 
  .text-3d{
    visibility: hidden;
  }
  .image2-3d{
    display: contents;
  }
}
.hover\:svg-rotate:hover svg {
  transform: rotate(45deg);
}
.highlights > div:nth-child(odd){
  background-color: white;

}
.highlights > div:nth-child(even){
  background-color: #F7EFED;

}
.highlights > div{
  padding: 10px;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

  /* 3D effect for image hover in card of product */
/* .image-card{
  transform-style: preserve-3d;
  perspective: 10px;
  transform: rotateY(20deg);
  transition: all;
  transition-duration: 300ms;

}
.image-card:hover{
  transform-style: preserve-3d;
  perspective: 0px;
  transform: rotateY(0deg);
  transition: all;
  transition-duration: 300ms;
} */