
 @media (min-width:1042px){
    .confirm-text{
        font-size: 2.5vw;
    }
    .User-name{
        font-size: 2vw;
    }
    .order-id{
        font-size: 1.6vw;
    }
    .order-detials{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .order-detials2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .checked-shipment{
        width: 70%;
    }
    .circles-shipment{
        width: 2vw;
        height: 2vw;
    }
    .element{
        top: 18px;
    }
    .info-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
    .summary-container-1{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
 } 
@media ((min-width:640px) and (max-width:1041px)){
    .info-container{
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;  
    }    
    .order-detials{
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
    .shipping-page{
        height: max-content;
    }
    .checked-shipment{
        width: 80%;
    }
    .circles-shipment{
        width: 2vw;
        height: 2vw;
    }
    .order-detials2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .element{
        top: 7px;
    }
    .summary-container-1{
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media (max-width:640px){
    .info-contianer{
      display: grid;
      grid-template-columns: 1fr;
    }
    .confirm-text {
      font-size: 5vw;
    }
    .User-name{
        font-size: 3vw;
    }
    .order-id{
        font-size: 2.5vw;
    }
    .order-detials{
        display: grid;
        grid-template-columns: 1fr;
    }
    .checked-shipment{
        width: 100%;
    }
    .circles-shipment{
        width: 4vw;
        height: 4vw;
    }
    .checked-shipment-container{
        font-size: 2vw;
    }
    .order-detials2{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .element{
        top: 7px;
    }
    .summary-container-1{
        display: grid;
        grid-template-columns: 1fr;
    }
  }
  .items-of-step{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
 
    
  }
 .items-of-step:not(:first-child):before{
  content: " ";
  transform: translateY(-200%);
  height: 4px;
  width: 100%;
  transition: all;
  transition-duration: 1000ms;
  position: absolute;
  /* transform: translateX(-50%); */
  right: 50%;
 }
 .actives{
    background-color: rgb(74, 222, 128);

 }
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid #b5acff;
    animation:
      l20-1 0.8s infinite linear alternate,
      l20-2 1.6s infinite linear;
  }
  @keyframes l20-1{
     0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
     12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
     25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
     50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
     75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
     100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
  }
  @keyframes l20-2{ 
    0%    {transform:scaleY(1)  rotate(0deg)}
    49.99%{transform:scaleY(1)  rotate(135deg)}
    50%   {transform:scaleY(-1) rotate(0deg)}
    100%  {transform:scaleY(-1) rotate(-135deg)}
  }