@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --bodybackground:#F4EEFF;
 
}
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color:white;
  overflow-x: hidden;
}
/* HOME CSS///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.imagescard{
 min-width: 80%;
}
.cards{
  min-width: 250px;
 max-width: 250px;
}
@media (max-width:630px){
  .cards{
    min-width: 200px;
    max-width: 200px;
  }
}

.slick-prev::before,.slick-next::before{
  display:none; 
   }
   input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* preprimart section css////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* sign in  */

@media ( min-width:1041px){
  .responsive{
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }
  .content3{
    height:45% ;
  }
}
@media (max-width:750px){
  .responsive{
     display: grid;
     grid-template-columns: 1fr;        
  }
  .content3{
    height: 100%;
  }
}

@media (min-width:950px){
  .hide-visible{
    display: none;
  }
}
@media (max-width:949px){
  .hide-visible{
    display: contents;
    width: 50%;


  }
  .homelogo{
    width: 100%;
    
  }
  .hide-visible3{
    display: none;
  }
}
@media (min-width:950px){
  .hide-visible2{
    visibility: visible;
  }
  .hide-visible3{
    display: contents;
  }
}
@media (max-width:949px){
  .hide-visible2{
     visibility: hidden;
  }
  .hide-visible3{
    display: none;
  }
}
@media (min-width:950px){
  .navbarsmall{
    display: none;
  }
}
@media (max-width:949px){
  .navbarsmall{
    display: contents;
  }
}