@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color:white;
  overflow-x: hidden;
}
/* HOME CSS///////////////////////////////////////////////////////////////////////////////////////////////////////// */
.h-navbar{
  width: 100%;
  height: 8vmin;
  border-bottom: 0px solid black;
  position: sticky;
}
.image-logo{
  width: 30%;
  
}
.nav-text{
  align-items: center;
}
.loginbutton{
  align-items: center;
  width: 10%;
}
.navvv{
  z-index: 999;
}
.text-nav:hover{
   background-color: #121212;
   color: white;
   scale: 1.2;   
}
.text-login{
  font-size:0.8vw ;
}
.text-nav{
  font-size: 0.8vw;
}
@media (max-width:640px){
  .text-nav{
    font-size: 1vw;
  }
}
.brandtext{
  font-size: 6vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.welcome-text{
  font-size: 4vw;
  font-family: "Poppins", sans-serif;
}

.auto-text-container{
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.deals-text{
  font-size: 2vw;
 
}

.textcontainer{
  position: relative;
  top: 6vh;
  z-index: 30;
  
}

.menu{
  position: relative;
  right: 3vw;
}

@media (max-width:640px) {
  .row2{
    display: inline-block;
    position: relative;
    top: -2vh;
    width: 6.5vw;
    height: 0.2vh;
    background-color:black;
    transition: all;
    transition-duration: 200ms;
  }
  .row1{
    transition: all;
    transition-duration: 200ms;
    position: relative;
    top:1vh;
    width: 6.5vw;
    height: 0.2vh;
    background-color:black;
  }
  
}
@media (max-width:300px)
{
  .navbar-small{
    background-color: #ff89ff;
  }
  .row2{
    display: inline-block;
    position: relative;
    top: -5vh;
    width: 6.5vw;
    height: 0.2vmax;
    background-color:black;
  }
  .row1{
    width: 6.5vw;
    height:0.2vmax;
    top: -1.9vh;
  }
   
}

.navbar{
  position: relative;
  border-radius: 2vw;
   top: 4vh;
   height: 90vh;
   width: 100%;
}
@media (max-width:640px){
  .navcomponents{
    max-width: 100%;

  }
}
.small-navbar{
  font-size: 3vw;
}
.small-navbar-component{
  width: 100vw;
}
.nav-closed{
  transform: translateY(-200%);
}

.s-navclosed{
  transform: translateY(100vh);
  
}
.s-navbaropen{
  transform: translateY(0vh);
 
}
.logg{
  align-items:center;
}
.image1{
  width: 50%;
}
.image2{
  width:50%;
}
.image3{
  width: 65%;
}
.leftbutton{
  top: 20vmin;
  left: 2vw;
  float:left;
  transform: rotate(90deg);
}
.rightbutton{
  top: 20vmin;
  float:right;
  right: 3vw;
  transform: rotate(-90deg);
}
@media (max-width:640px){
  .leftbutton , .rightbutton{
    top: 3.3vh;
  }
  
}
.linktext{
  font-size: 1.6vw;
}
@media (max-width:640px) {
  .linktext{
    font-size: 3vw;
  }
}
.imgelogo{
  width: 5vw;
  
}
.colors{
  background-color: #35858B;
}
.new{
color: #67f1ed;
}

/* #072227 -dark
#35858B - light1
#4FBDBA -ligh2
#AEFEFF -light3
rgb(7, 34, 39)
rgb(53, 133, 139)
rgb(79, 189, 186)
rgb(174, 254, 255) */
.circle2{
  position: relative;
  transform: scale(22);
  background-color: rgb(24, 73, 71);
}
.sectionmain{
  width: 100vw;
  height: 100vh;
}
.navslider{
  width: 30%;
  top: 3.2vh;
  height: 90%;
  z-index: 998;
}

@media (max-width:640px) {
  .navslider{
    width: 100%;
    top: 3.2vh;
    height: 90%;
    z-index: 998;
  }
  .crousal{
    top: 20vh;
  }

}
.home{
  width: 100vw;
  height: 100vh;
  
}

/* preprimart section css////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.preprimary-text{
  font-size: 4vw;
}
.pre-books-description{

  font-size: 1.2vw;
}
.pre-books-gallery{
  gap: 10%;
}
.pre-books-gallery2{
  gap: 10%;
}
.outer-container{
  align-items: center;
}
.head-text-section{
  font-size:6vw;
  position: relative;
  left: 2vw;
}
.head-text{
  font-size: 6vw;
  position: relative;
  top: 25vh;
}

@media (max-width:640px) {
  .head-text{
    width: 100%;
    font-size: 10vw;
    text-align: center;
    top: 5vh;
    position: relative;

  }
  .pre-books-description{

    font-size: 2.1vw;
  }
  .head-text-section{

  }
  .hr2{
    background-color: #FCFFE0;
  }
  .gallery{
     top: 13vh;
  }
}

.books-slides{
  width: 20%;
  border: 2px solid white;
  padding: 0.5vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(248, 225, 195);
}
.auto-scroll{
  animation: h-scroll 10s infinite alternate-reverse ;
}
@keyframes h-scroll{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-60%);
  }

}
.image-container-slides{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.Dimages{
  padding: 1vw;
  border:2px solid white;
  background-color: cadetblue;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.outer_container{
  /* box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.2); */
}
/* ONETOEIGHT /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.onetoEight{
   width: 100vw;
   height: 100vh;
}
.scrolltab{
  
}
/* 1to8 section //////////////////////////////////////////////////////////////////////////////////////////////// */

.rounded-pink{
  background-color: 		#ff89ff;
}
.navbar-content{
   top: 20vh;
}
/* ABOUT SECTION//////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.abouttext{
  font-size: 5vw;
  text-align: center;
}
/* spped down on end the animation */
.counting-container{
  justify-items: center; /* Center items horizontally */
  align-items: center; 
}
.counting-text{
  font-size: 3vw;
}
.box1{
  width: 20vw;
  transition: all 300ms;
}
.box1:hover{
  scale: 1.1;
}
.st-cover{
  font-size: 2vw;
}